.mainContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: calc(100vh - 115px);
  margin: 0 auto;
  box-shadow: 0px 1px 6px 0 rgb(0 0 0 / 30%) !important;
}
.filterSection {
  height: 100px;
  padding: 20px;
}
.container {
  display: flex;
  height: 90%;
  padding: 25px;
}

.jobsContainer {
  width: 100%;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-right: 10px;
}

.descriptionContainer {
  overflow: auto;
  width: 40%;
}

@media screen and (max-width: 1440px) {
  .mainContainer {
    position: absolute;
    left: 5%;
  }
}
