.jobsContainer {
  width: 100%;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-right: 10px;
}

.descriptionContainer {
  overflow: auto;
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .jobsContainer {
    width: 100%;
  }
  .descriptionContainer{
    width: 100%;
  }
}
