.navbar {
  width: 100%;
  height: 50px;
  background-color: #1976d2;
  box-shadow: 0px 5px 4px -4px rgba(204, 204, 204, 1);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar a{
  text-decoration: none;
  width: 100%;
}

.navbar h5{
  text-align: center;
  cursor: pointer;
}
