.mainContainer {
  display: flex;
  min-height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container {
  display: flex;
  padding: 20px;
  border: 1px solid #fff4ff;
  position: relative;
  box-shadow: 0px 1px 6px 0 rgb(0 0 0 / 30%);
  width: 500px;
}

.formContainer {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .container {
    width: 85%;
  }
}
