.mainContainer {
  display: flex;
  min-height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container {
  padding: 20px;
  border: 1px solid #fff4ff;
  position: relative;
  box-shadow: 0px 1px 6px 0 rgb(0 0 0 / 30%);
  width: 500px;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
  position: relative;
}
.profile label {
  margin-left: 130px;
  cursor: pointer;
}
#preview {
  position: absolute;
  top: -85%;
  left: 15%;
  border-radius: 50%;
  object-fit: contain;
}

@media screen and (max-width: 425px) {
  .container {
    width: 85%;
  }
}
