.avatar {
  margin: 20px auto;
  height: 60px !important;
  width: 60px !important;
}

.slider a {
  text-decoration: none;
  color: rgb(63, 63, 63);
  padding: 10px 0;
  text-align: center;
}

.bottomNavigation {
  display: none;
  background-color: #1976d2;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.slider a:hover {
  background-color: rgb(204, 201, 201);
}

@media screen and (max-width: 768px) {
  header {
    margin: 0 !important;
    width: 100% !important;
  }
  .bottomNavigation {
    display: block;
  }
  .toggleButton {
    margin: 0 !important;
    display: none !important;
  }
  .slider {
    display: none !important;
  }
}
